<html>
    <body> 
    <div class ="container">
    <div class = "row">
    <div class = "col">
    <img src="././assets/Images/1.jfif">
    <p class="data1"> 
        Title: City of Gold
    <br> 
     Genre: Action
     <br>
     Actors: Riley 
     <br>
     Theatre: BCC cinemas
    </p>
</div>
<div class="col">
    <img src="././assets/Images/2.jfif">
    <p class="data2"> 
        Title: City of Gold
    <br> 
     Genre: Action
     <br>
     Actors: Riley 
     <br>
     Theatre: BCC cinemas
    </p>
</div>
</div>
</div>
</body>
</html>
